section {
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

/* CARD */
.card-list {
    display: flex;
    padding: 3em;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: var(--color-purple-darkest);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
    font-size: 0.75em;
    word-wrap: break-word;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 30vh;
    width: 15vw;
    min-width: 8rem;
    max-height: 20rem;
    padding: 1.5em;

    border-radius: 1em;
    background-color: var(--color-purple-dark);
    box-shadow: -1em 0 3em #000;

    transition: 0.2s;

    margin: 0;
    scroll-snap-align: start;
    clear: both;
}

@media screen and (min-width: 600px){
    .card {
        font-size: 1em;
    }
}

.card:hover {
    transform: translateY(-1em);
}

.card:hover~.card {
    transform: translateX(6em);
}

.card:not(:first-child) {
    margin-left: -5em;
}
.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 1em;
    margin: 0 0 1em;
    color: var(--color-green-light);
}

.card-header h2 {
    font-size: 1.5em;
    margin: .25em 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,var(--color-green-light),var(--color-green-lightest));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 4em 1fr;
    align-items: center;
    margin: 3em 0 0;
    font-size: 1em;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img{
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 0.7em 0.4em;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: var(--color-purple-light);
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 60px; */
    /* height: 48px; */
    width: 3em;
    height: 2.5em;
    fill: none;
    stroke: var(--color-green-mid);
    stroke-width: 8;
    stroke-linecap: round;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5em;
    color: var(--color-purple-light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .66em;
    border: 3px solid #28242f;
    border-radius: 2em;
    padding: .2em .85em .25em;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,var(--color-green-light),var(--color-green-lightest));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* -webkit-box-decoration-break: clone; */
    background-clip: text;
    border-color: var(--color-purple-lightest);
}