.tree-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tree > .talent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 1fr;
    justify-items: center;
    border: 1px solid blue;
}

.talent-grid > * {
    border: 1px solid red;
}

.talent-grid > .talent-header {
    grid-column: span 2;
    text-align: center;
    display: flex;
    align-items: center;
}

.talent-grid > .talent-column {
    display: flex;
    flex-direction: column;
    transition: 200ms ease;

}

.talent-column > .talent-item {
    opacity: 0;
    transition: calc(var(--order) * 1000ms) cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.talent-column > .active {
    opacity: 1;
}