.tree-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tree > .talent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2em 1fr;
    justify-items: center;
    border: 1px solid blue;
}

.talent-grid > * {
    border: 1px solid red;
}

.talent-grid > .talent-header {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    align-items: center;
}

.talent-grid > .talent-column {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: 200ms ease;
}

.talent-grid > .active {
    opacity: 1;
}

.talent-column > .talent-item {
    opacity: 0;
    transition: all calc(var(--order) * 500ms) ease
}

.talent-column > .active {
    opacity: 1;
}