/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --navbar-width: 5rem;
  --body-padding: calc(var(--navbar-width) + 1rem);

  --font-weight-default: 300;
  --font-weight-mid: 400;

  /* Colours */
  /* Made using https://paletton.com */

  /* Purple tones */
  --color-purple-lightest: #C3A5CB;
  --color-purple-light: #743D83;
  --color-purple-mid: #420E51;
  --color-purple-dark: #1D0125;
  --color-purple-darkest: #020003;

  /* Green tones */
  --color-green-lightest: #D0EDA9;
  --color-green-light: #82AD47;
  --color-green-mid: #477010;
  --color-green-dark: #213900;
  --color-green-darkest: #070C00;
}

body {
  background-color: var(--color-purple-darkest);
  color: var(--color-purple-lightest);
  /* font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: 'Signika Negative', sans-serif;
  font-weight: var(--font-weight-mid);
  margin: 0;
}

main {
  /* max-width: 760px; */
  margin: 0 auto;
  /* background-color: white; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 130px -50px var(--qwik-light-purple); */
  overflow: hidden;
}

h1,
h2 {
  padding: 10px 0 0 0;
  margin: 0 0 5px 0;
  font-weight: var(--font-weight-default);
}

section {
  /* margin-left: 5rem; To allow for navbar left */
  /* padding: 1rem; */
  padding: 0 1rem 0 var(--body-padding);
  /* border-bottom: 10px solid var(--qwik-dark-blue); */
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: #1e1e24;
}

::-webkit-scrollbar-thumb {
    background: #6649b8;
}


footer {
  margin: 0 0 0 var(--body-padding);
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  :root {
    --body-padding: 1rem;
  }
}

.text-justified {
  text-align: justify;
  text-justify: auto;
}